*   body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 60px;
    color: black;
    background-image: url(img.png);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }

  th, td {
    border: 2px solid blue;
    padding: 10px;
    text-align: center;
  }

  th {
    background-color: lightgrey;
  }

  button {
    padding: 10px;
    cursor: pointer;
    margin: 10px;
    color: maroon;
  }
 